body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to right, rgba(210, 233, 217, 0), rgba(119, 0, 255, 0.244));
    background-color: rgb(0, 0, 0);
}
h1{
    position: absolute;
    top: 80px;
    color: #fff;
}
.calendar {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 400px;
    height: 400px;
    background-color: #fff;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.header button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}
.header button:hover {
    background-color: #0056b3;
}
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 1px solid #ddd;
}
.days div {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
}

.dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dates div {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #ddd;
}

.dates div:nth-child(7n) {
    border-right: none;
}

.dates div:nth-child(n+1):nth-child(-n+7) {
    border-top: 1px solid #ddd;
}
